.languageSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 0px;
    
}

.languageOption {
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 15px;
    border: 0px;
}

.languageOption:hover {
    background-color: #e6e6e6;
}


@media (max-width: 768px) {
  .languageSelector {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .languageSelector:hover {
    background-color: #e6e6e6;
  }

  .languageOption {
    padding: 0 !important;
    width: 35px;
    /*line-height: 45px;*/
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
