.dashboard {
  height: 100vh;
}

.dashboard .sidebar {
  background: #fff;
  padding: 0px !important;
  padding-top: 50px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-right: 1px solid #e8e8e8;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.1);

}
.sidebar .menu {
  height: 90%;
  border-right: 0px !important;
}
.sidebar .logo {
  height: 5%;
  filter: invert(1);
}
.dashboard .mainContent {
  height: 100%;
  padding-top: 50px;
  overflow-y: auto;
}

.dataContent {
  padding: 0 24px;
}

.dashboard .header {
  background: #fff;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1);
}

.dashboard .header .search {
  width: 50% !important;
  margin-right: 10px;
}

.dashboard .header .homeLink {
  margin-left: 16px;
}

.dashboard .footer {
  margin-top: 10px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  padding: 24px;
  font-size: 14px;
  width: 100%;
  color: #fff;
}

.dashboard .footer a {
  color: #fff;
}


