.dashboard {
  
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  /* 
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2; */
     display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    align-items: center;
    background: var(--light-bg);
    font-family: var(--font-geist-sans);
  }
  @media (prefers-color-scheme: dark) {
    .dashboard {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  }
  

.sidebar {
  width: 25%;
  min-height: 100vh !important;
  background: #fff !important;
}

.header {
  padding: 0 24px;
  display: flex;
  align-items: center;
  width: 75% !important;
  background: #fff !important;
  
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) !important;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}


.search {
  flex: 1;
  margin-right: 16px;
  background: var(--gray-alpha-200);
  padding: 8px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 50% !important;
}

.mainContent {
  flex: 1;
  overflow: auto;
}

.footer {

}

