.layout{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.sider{
    background-color: #fff !important;   
    height: 100vh !important;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.closeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 75px !important;
    width: 100%;
    background-color: #fff !important;
}

.main{
    height: 100vh;
}