.spidButton {
    background-color: #005a9c;
    color: white;
    border: none;
    font-weight: 500;
}

.cieButton {
    background-color: #0073e6;
    color: white;
    border: none;
    font-weight: 500;
}
.eidasButton {
    background-color: #003399;
    color: white;
    border: none;
    font-weight: 500;
}